.background {
  overflow-y: hidden;
}
.background {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/bgs.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%); */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
form p {
  color: #007bb4;
  font-weight: 600;
}
.card {
  width: 400px;
  padding: 20px;
  background: #eee;
  border: 2px solid #007bb4;
}
.card h1 {
  color: #222;
  font-weight: 600;
}
.card label {
  font-size: 18px;
  color: #222;
  font-weight: 600;
}
input {
  background-color: #222;
  color: #fff;
}
input:focus {
  background-color: #222;
  color: #fff;
}
input::placeholder {
  font-size: 16px;
  color: #fff;
}
form button {
  width: 100%;
  margin-top: 15px;
  background-color: #444;
  padding: 5px 0;
  border-radius: 5px;
  border: 0;
  color: #fff;
  cursor: pointer !important;
}
.toSign {
  font-size: 14px;
  text-decoration: none;
  color: #111;
  font-weight: 600;
}
span {
  color: #007bb4;
  font-weight: 600;
}
