<div class="header">
  <h2>Admin</h2>
  <button routerLink="/login" class="btn btn-light" [disabled]="hasUnsavedEdit">
    LogOut
  </button>
</div>
<div class="wrapper">
  <div class="left-con">
    <div class="box">
      <div class="left">
        <button class="btn" (click)="show1()" [disabled]="hasUnsavedEdit">
          Add Candidates
        </button>
        <button class="btn" (click)="show2()" [disabled]="hasUnsavedEdit">
          Add Positions
        </button>
        <button class="btn" (click)="show3()" [disabled]="hasUnsavedEdit">
          View Positions
        </button>
        <button class="btn" (click)="show4()" [disabled]="hasUnsavedEdit">
          View Candidates
        </button>
        <button class="btn" (click)="show5()" [disabled]="hasUnsavedEdit">
          View Users
        </button>
      </div>
    </div>
  </div>
  <div class="right-con">
    <!-- Adding Candidates -->

    <div class="container" [hidden]="!showAddCand">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="text-center">
              <h2 class="addtitle">Add City Candidate</h2>
            </div>
            <hr />
            <form
              autocomplete="off"
              [formGroup]="CitycandidateForm"
              (ngSubmit)="addingCityCand()"
            >
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">NAME</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter Name"
                  aria-describedby="emailHelp"
                  formControlName="name"
                />
              </div>
              <input type="hidden" formControlName="isCityCandEdit" />
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">CITY</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="city"
                >
                  <option value="" disabled selected hidden>Select city</option>
                  <option *ngFor="let item of inCity" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Select City Position</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="addcity"
                >
                  <option value="" disabled selected hidden>
                    Select city position
                  </option>
                  <option *ngFor="let item of city" value="{{ item.name }}">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <p
                *ngIf="CitycandidateForm.controls['name'].errors?.['required'] || CitycandidateForm.controls['city'].errors?.['required'] || CitycandidateForm.controls['addcity'].errors?.['required'] "
              >
                * All fields are required
              </p>
              <div class="form-btn">
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="CitycandidateForm.invalid"
                  (click)="onAddCandidate()"
                >
                  ADD
                </button>
                <button
                  class="btn btn-primary"
                  (click)="showAddCand = !showAddCand"
                >
                  CLOSE
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="text-center">
              <h2 class="addtitle">Add Country Candidate</h2>
            </div>
            <hr />
            <form
              autocomplete="off"
              [formGroup]="CountrycandidateForm"
              (ngSubmit)="addingCountryCand()"
            >
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">NAME</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter Name"
                  aria-describedby="emailHelp"
                  formControlName="name"
                />
              </div>
              <input type="hidden" formControlName="isCountryCandEdit" />
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">CITY</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="city"
                >
                  <option value="" disabled selected hidden>Select city</option>
                  <option *ngFor="let item of inCity" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Select Country Position</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="addcountry"
                >
                  <option value="" disabled selected hidden>
                    Select Country position
                  </option>
                  <option *ngFor="let item of country" value="{{ item.name }}">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <p
                *ngIf="CountrycandidateForm.controls['name'].errors?.['required'] || CountrycandidateForm.controls['city'].errors?.['required'] || CountrycandidateForm.controls['addcountry'].errors?.['required'] "
              >
                * All fields are required
              </p>
              <div class="form-btn">
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="CountrycandidateForm.invalid"
                  (click)="onAddCandidate()"
                >
                  ADD
                </button>
                <button
                  class="btn btn-primary"
                  (click)="showAddCand = !showAddCand"
                >
                  CLOSE
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Adding Positions -->

    <div class="container containerofpos" [hidden]="!showAddPos">
      <div class="left-pos">
        <h3>Add City Position</h3>
        <hr />
        <form (ngSubmit)="toCity()" [formGroup]="cityForm" autocomplete="off">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">NAME</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter Name"
              aria-describedby="emailHelp"
              formControlName="name"
            />
          </div>
          <input type="hidden" formControlName="isCityEdit" />
          <div class="pos-btns">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="cityForm.invalid"
            >
              Add
            </button>
          </div>
        </form>
      </div>
      <div class="right-pos">
        <h3>Add Country Position</h3>
        <hr />
        <form
          (ngSubmit)="toCountry()"
          [formGroup]="countryForm"
          autocomplete="off"
        >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">NAME</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter Name"
              aria-describedby="emailHelp"
              formControlName="name"
            />
          </div>
          <input type="hidden" formControlName="isCountryEdit" />
          <div class="pos-btns">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="countryForm.invalid"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Show Positions -->

    <div class="table container" [hidden]="!showViewPos">
      <table>
        <thead>
          <th colspan="6" style="text-align: center"><h4>City Position</h4></th>
          <tr>
            <th>Position</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pos of city; let i = index">
            <td>
              <div *ngIf="pos.isCityEdit">
                <input
                  type="text"
                  id="exampleInputEmail1"
                  placeholder="Enter Name"
                  aria-describedby="emailHelp"
                  [(ngModel)]="pos.name"
                  style="width: 135px; border: 0; outline: 0"
                />
              </div>
              <div *ngIf="!pos.isCityEdit">
                {{ pos.name }}
              </div>
            </td>
            <td>
              <div *ngIf="pos.isCityEdit">
                <button class="btn btn-sm btn-light" (click)="saveCityPos(pos)">
                  Save
                </button>
              </div>
              <div *ngIf="!pos.isCityEdit">
                <button
                  class="btn btn-sm btn-light"
                  (click)="onCityEdit(pos)"
                  [disabled]="hasUnsavedEdit"
                >
                  Edit
                </button>
              </div>
            </td>
            <td>
              <button
                class="btn btn-light btn-sm"
                (click)="delPosCity(i)"
                [disabled]="hasUnsavedEdit"
              >
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <th colspan="6" style="text-align: center">
            <h4>Country Position</h4>
          </th>
          <tr>
            <th>Position</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pos of country; let i = index">
            <td>
              <div *ngIf="pos.isCountryEdit">
                <input
                  type="text"
                  id="exampleInputEmail1"
                  placeholder="Enter Name"
                  aria-describedby="emailHelp"
                  [(ngModel)]="pos.name"
                  style="width: 135px; outline: 0; border: 0"
                />
              </div>
              <div *ngIf="!pos.isCountryEdit">
                {{ pos.name }}
              </div>
            </td>
            <td>
              <div *ngIf="pos.isCountryEdit">
                <button
                  class="btn btn-light btn-sm"
                  (click)="saveCountryPos(pos)"
                >
                  Save
                </button>
              </div>
              <div *ngIf="!pos.isCountryEdit">
                <button
                  class="btn btn-light btn-sm"
                  (click)="onCountryEdit(pos)"
                  [disabled]="hasUnsavedEdit"
                >
                  Edit
                </button>
              </div>
            </td>
            <td>
              <button
                class="btn btn-light btn-sm"
                (click)="delPosCountry(i)"
                [disabled]="hasUnsavedEdit"
              >
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Show Candidates -->

    <div class="showCand" [hidden]="!showViewCand">
      <table>
        <thead>
          <th colspan="6" style="text-align: center">
            <h4>City Candidates</h4>
          </th>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>
              City<br />
              Position
            </th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of addingCityCandidate; let i = index">
            <td>
              <div *ngIf="item.isCityCandEdit">
                <input
                  type="text"
                  id="exampleInputEmail1"
                  placeholder="Enter Name"
                  aria-describedby="emailHelp"
                  [(ngModel)]="item.name"
                  style="width: 135px; outline: 0; border: 0"
                />
              </div>
              <div *ngIf="!item.isCityCandEdit">{{ item.name }}</div>
            </td>
            <td>
              <div *ngIf="item.isCityCandEdit">
                <select
                  aria-label="Default select example"
                  style="margin: 0; width: 135px"
                  [(ngModel)]="item.city"
                >
                  <option value="" disabled selected hidden>Select city</option>
                  <option *ngFor="let item of inCity" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div *ngIf="!item.isCityCandEdit">{{ item.city }}</div>
            </td>
            <td>
              <div *ngIf="item.isCityCandEdit">
                <select
                  aria-label="Default select example"
                  style="margin: 0; width: 135px"
                  [(ngModel)]="item.addcity"
                >
                  <option value="" disabled selected hidden>
                    Select city position
                  </option>
                  <option *ngFor="let item of city" value="{{ item.name }}">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <div *ngIf="!item.isCityCandEdit">
                {{ item.addcity }}
              </div>
            </td>
            <td>
              <div *ngIf="item.isCityCandEdit">
                <button
                  class="btn btn-sm btn-light"
                  (click)="saveCityCand(item)"
                >
                  Save
                </button>
              </div>
              <div *ngIf="!item.isCityCandEdit">
                <button
                  class="btn btn-sm btn-light"
                  (click)="onCityCEdit(item)"
                  [disabled]="hasUnsavedEdit"
                >
                  Edit
                </button>
              </div>
            </td>
            <td>
              <button
                class="btn btn-light btn-sm"
                (click)="delCityCan(i)"
                [disabled]="hasUnsavedEdit"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <th colspan="6" style="text-align: center">
            <h4>Country Candidates</h4>
          </th>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>
              Country<br />
              Position
            </th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of addingCountryCandidate; let i = index">
            <td>
              <div *ngIf="item.isCountryCandEdit">
                <input
                  type="text"
                  id="exampleInputEmail1"
                  placeholder="Enter Name"
                  aria-describedby="emailHelp"
                  style="width: 135px; outline: 0; border: 0"
                  [(ngModel)]="item.name"
                />
              </div>
              <div *ngIf="!item.isCountryCandEdit">{{ item.name }}</div>
            </td>
            <td>
              <div *ngIf="item.isCountryCandEdit">
                <select
                  aria-label="Default select example"
                  style="margin: 0; width: 135px"
                  [(ngModel)]="item.city"
                >
                  <option value="" disabled selected hidden>Select city</option>
                  <option *ngFor="let item of inCity" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div *ngIf="!item.isCountryCandEdit">{{ item.city }}</div>
            </td>
            <td>
              <div *ngIf="item.isCountryCandEdit">
                <select
                  aria-label="Default select example"
                  style="margin: 0; width: 135px"
                  [(ngModel)]="item.addcountry"
                >
                  <option value="" disabled selected hidden>
                    Select Country position
                  </option>
                  <option *ngFor="let item of country" value="{{ item.name }}">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <div *ngIf="!item.isCountryCandEdit">{{ item.addcountry }}</div>
            </td>
            <td>
              <div *ngIf="item.isCountryCandEdit">
                <button
                  class="btn btn-sm btn-light"
                  (click)="saveCountryCand(item)"
                >
                  Save
                </button>
              </div>
              <div *ngIf="!item.isCountryCandEdit">
                <button
                  class="btn btn-sm btn-light"
                  (click)="onCountryCEdit(item)"
                  [disabled]="hasUnsavedEdit"
                >
                  Edit
                </button>
              </div>
            </td>
            <td>
              <button
                class="btn btn-light btn-sm"
                (click)="delCountryCan(i)"
                [disabled]="hasUnsavedEdit"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Show User  -->

    <div class="table container" [hidden]="!showViewUser">
      <table>
        <thead>
          <th colspan="6" style="text-align: center"><h4>Login Users</h4></th>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of addingUsers">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
