<div class="header">
  <h2>Lets Vote</h2>
  <a routerLink="/login">Log-Out</a>
</div>
<div class="wrapper">
  <div class="left-con">
    <div class="box">
      <div class="left">
        <button class="btn" (click)="show1()">Add Candidates</button>
        <button class="btn" (click)="show2()">Add Positions</button>
        <button class="btn" (click)="show3()">View Positions</button>
        <button class="btn" (click)="show4()">View Candidates</button>
        <button class="btn" (click)="show5()">View Users</button>
      </div>
    </div>
  </div>
  <div class="right-con">
    <!-- Adding Candidates -->

    <div class="container" [hidden]="!showAddCand">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="text-center">
              <h2 class="addtitle">Add Candidate</h2>
            </div>
            <hr />
            <form
              autocomplete="off"
              [formGroup]="candidateForm"
              (ngSubmit)="addingCand()"
            >
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">NAME</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter Name"
                  aria-describedby="emailHelp"
                  formControlName="name"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">CITY</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="city"
                >
                  <option value="" disabled selected hidden>Select city</option>
                  <option *ngFor="let item of inCity" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Select City Position</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="addcity"
                >
                  <option value="" disabled selected hidden>
                    Select city position
                  </option>
                  <option *ngFor="let item of city" value="{{ item.name }}">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Select Country Position</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="addcountry"
                >
                  <option value="" disabled selected hidden>
                    Select country position
                  </option>
                  <option *ngFor="let item of country" value="{{ item.name }}">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <p
                *ngIf="candidateForm.controls['name'].errors?.['required'] || candidateForm.controls['city'].errors?.['required'] || candidateForm.controls['addcity'].errors?.['required'] || candidateForm.controls['addcountry'].errors?.['required']"
              >
                * All fields are required
              </p>
              <div class="form-btn">
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="candidateForm.invalid"
                  (click)="onAddCandidate()"
                >
                  ADD
                </button>
                <button
                  class="btn btn-primary"
                  (click)="showAddCand = !showAddCand"
                >
                  CLOSE
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Adding Positions -->

    <div class="container" [hidden]="!showAddPos">
      <div class="left-pos">
        <h3>Add City Position</h3>
        <hr />
        <form (ngSubmit)="toCity()" [formGroup]="cityForm" autocomplete="off">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">NAME</label>
            <input
              [ngModel]="upcityname"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter Name"
              aria-describedby="emailHelp"
              formControlName="name"
            />
          </div>
          <div class="pos-btns">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="cityForm.invalid"
            >
              Add
            </button>
          </div>
        </form>
      </div>
      <div class="right-pos">
        <h3>Add Country Position</h3>
        <hr />
        <form
          (ngSubmit)="toCountry()"
          [formGroup]="countryForm"
          autocomplete="off"
        >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">NAME</label>
            <input
              [ngModel]="upcountryname"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter Name"
              aria-describedby="emailHelp"
              formControlName="name"
            />
          </div>
          <div class="pos-btns">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="countryForm.invalid"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Show Positions -->

    <div class="table container" [hidden]="!showViewPos">
      <table>
        <thead>
          <th colspan="6" style="text-align: center"><h4>City Position</h4></th>
          <tr>
            <th>Position</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pos of city; let i = index">
            <td>{{ pos.name }}</td>
            <td>
              <button class="btn btn-light">Edit</button>
            </td>
            <td>
              <button class="btn btn-light" (click)="delPosCity(i)">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <th colspan="6" style="text-align: center">
            <h4>Country Position</h4>
          </th>
          <tr>
            <th>Position</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pos of country; let i = index">
            <td>{{ pos.name }}</td>
            <td>
              <button class="btn btn-light">Edit</button>
            </td>
            <td>
              <button class="btn btn-light" (click)="delPosCountry(i)">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Show Candidates -->

    <div class="table container" [hidden]="!showViewCand">
      <table>
        <thead>
          <th colspan="6" style="text-align: center"><h4>Candidates</h4></th>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>City Position</th>
            <th>Country Position</th>
            <th>Votes</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of addingCandidate; let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.addcity }}</td>
            <td>{{ item.addcountry }}</td>
            <td>{{ item.vote }}</td>
            <td>
              <div class="wrapper">
                <button class="btn btn-light">Edit</button>
                <button class="btn btn-light" (click)="delCan(i)">
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Editing Candidate -->

    <!-- Editing Positoins -->

    <!-- Show User  -->

    <div class="table container" [hidden]="!showViewUser">
      <table>
        <thead>
          <th colspan="6" style="text-align: center"><h4>Login Users</h4></th>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of addingUsers">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
