<div class="header">
  <h2>Admin</h2>
  <a routerLink="/login" class="btn btn-light">LogOut</a>
</div>
<div class="wrapper">
  <div class="left-con">
    <div class="box">
      <div class="left">
        <button class="btn" (click)="show1()">Add Candidates</button>
        <button class="btn" (click)="show2()">Add Positions</button>
        <button class="btn" (click)="show3()">View Positions</button>
        <button class="btn" (click)="show4()">View Candidates</button>
        <button class="btn" (click)="show5()">View Users</button>
      </div>
    </div>
  </div>
  <div class="right-con">
    <!-- Adding Candidates -->

    <div class="container" [hidden]="!showAddCand">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="text-center">
              <h2 class="addtitle">Add City Candidate</h2>
            </div>
            <hr />
            <form
              autocomplete="off"
              [formGroup]="CitycandidateForm"
              (ngSubmit)="addingCityCand()"
            >
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">NAME</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter Name"
                  aria-describedby="emailHelp"
                  formControlName="name"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">CITY</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="city"
                >
                  <option value="" disabled selected hidden>Select city</option>
                  <option *ngFor="let item of inCity" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Select City Position</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="addcity"
                >
                  <option value="" disabled selected hidden>
                    Select city position
                  </option>
                  <option *ngFor="let item of city" value="{{ item.name }}">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <p
                *ngIf="CitycandidateForm.controls['name'].errors?.['required'] || CitycandidateForm.controls['city'].errors?.['required'] || CitycandidateForm.controls['addcity'].errors?.['required'] "
              >
                * All fields are required
              </p>
              <div class="form-btn">
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="CitycandidateForm.invalid"
                  (click)="onAddCandidate()"
                >
                  ADD
                </button>
                <button
                  class="btn btn-primary"
                  (click)="showAddCand = !showAddCand"
                >
                  CLOSE
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="text-center">
              <h2 class="addtitle">Add Country Candidate</h2>
            </div>
            <hr />
            <form
              autocomplete="off"
              [formGroup]="CountrycandidateForm"
              (ngSubmit)="addingCountryCand()"
            >
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">NAME</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter Name"
                  aria-describedby="emailHelp"
                  formControlName="name"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">CITY</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="city"
                >
                  <option value="" disabled selected hidden>Select city</option>
                  <option *ngFor="let item of inCity" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Select Country Position</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="addcountry"
                >
                  <option value="" disabled selected hidden>
                    Select Country position
                  </option>
                  <option *ngFor="let item of country" value="{{ item.name }}">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <p
                *ngIf="CountrycandidateForm.controls['name'].errors?.['required'] || CountrycandidateForm.controls['city'].errors?.['required'] || CountrycandidateForm.controls['addcountry'].errors?.['required'] "
              >
                * All fields are required
              </p>
              <div class="form-btn">
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="CountrycandidateForm.invalid"
                  (click)="onAddCandidate()"
                >
                  ADD
                </button>
                <button
                  class="btn btn-primary"
                  (click)="showAddCand = !showAddCand"
                >
                  CLOSE
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Adding Positions -->

    <div class="container containerofpos" [hidden]="!showAddPos">
      <div class="left-pos">
        <h3>Add City Position</h3>
        <hr />
        <form (ngSubmit)="toCity()" [formGroup]="cityForm" autocomplete="off">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">NAME</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter Name"
              aria-describedby="emailHelp"
              formControlName="name"
            />
          </div>
          <div class="pos-btns">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="cityForm.invalid"
            >
              Add
            </button>
          </div>
        </form>
      </div>
      <div class="right-pos">
        <h3>Add Country Position</h3>
        <hr />
        <form
          (ngSubmit)="toCountry()"
          [formGroup]="countryForm"
          autocomplete="off"
        >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">NAME</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter Name"
              aria-describedby="emailHelp"
              formControlName="name"
            />
          </div>
          <div class="pos-btns">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="countryForm.invalid"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Show Positions -->

    <div class="table container" [hidden]="!showViewPos">
      <table>
        <thead>
          <th colspan="6" style="text-align: center"><h4>City Position</h4></th>
          <tr>
            <th>Position</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pos of city; let i = index">
            <td>{{ pos.name }}</td>
            <td>
              <button
                class="btn btn-sm btn-light"
                (click)="editCityPos(pos.name)"
              >
                Edit
              </button>
            </td>
            <td>
              <button class="btn btn-light btn-sm" (click)="delPosCity(i)">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <th colspan="6" style="text-align: center">
            <h4>Country Position</h4>
          </th>
          <tr>
            <th>Position</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pos of country; let i = index">
            <td>{{ pos.name }}</td>
            <td>
              <button class="btn btn-light btn-sm" (click)="editCountryPos()">
                Edit
              </button>
            </td>
            <td>
              <button class="btn btn-light btn-sm" (click)="delPosCountry(i)">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Show Candidates -->

    <div class="table container" [hidden]="!showViewCand">
      <table>
        <thead>
          <th colspan="6" style="text-align: center">
            <h4>City Candidates</h4>
          </th>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>City Position</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of addingCityCandidate; let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.addcity }}</td>
            <td>
              <button
                class="btn btn-sm btn-light"
                (click)="editCityCandidate()"
              >
                Edit
              </button>
            </td>
            <td>
              <button class="btn btn-light btn-sm" (click)="delCityCan(i)">
                <i class="fa-solid fa-trash-xmark"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <th colspan="6" style="text-align: center">
            <h4>Country Candidates</h4>
          </th>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country Position</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of addingCountryCandidate; let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.addcountry }}</td>
            <td>
              <button
                class="btn btn-sm btn-light"
                (click)="editCountryCandidate()"
              >
                Edit
              </button>
            </td>
            <td>
              <button class="btn btn-light btn-sm" (click)="delCountryCan(i)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Show User  -->

    <div class="table container" [hidden]="!showViewUser">
      <table>
        <thead>
          <th colspan="6" style="text-align: center"><h4>Login Users</h4></th>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of addingUsers">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Editing City Position -->
<div class="edit" [hidden]="!showCityPosEdit">
  <div class="left-pos">
    <h3>Add City Position</h3>
    <hr />
    <form autocomplete="off" (ngSubmit)="updateCityPos()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">NAME</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          placeholder="Enter Name"
          aria-describedby="emailHelp"
          formControlName="name"
          [(ngModel)]="cityPosName"
        />
      </div>
      <div class="pos-btns">
        <button class="btn btn-primary" type="submit">Update</button>
        <button class="btn btn-primary" (click)="showCityPosEdit = false">
          Close
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Edit Country Position -->

<div class="edit" [hidden]="!showCountryPosEdit">
  <div class="left-pos">
    <h3>Add Country Position</h3>
    <hr />
    <form [formGroup]="countryForm" autocomplete="off">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">NAME</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          placeholder="Enter Name"
          aria-describedby="emailHelp"
          formControlName="name"
        />
      </div>
      <div class="pos-btns">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="countryForm.invalid"
        >
          Update
        </button>
        <button class="btn btn-primary" (click)="showCountryPosEdit = false">
          Close
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Editing Candidates For city Position -->

<div class="edit" [hidden]="!showCityCandEdit">
  <div class="left-pos">
    <div class="text-center">
      <h2 class="addtitle">Add City Candidate</h2>
    </div>
    <hr />
    <form autocomplete="off" [formGroup]="CitycandidateForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">NAME</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          placeholder="Enter Name"
          aria-describedby="emailHelp"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">CITY</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="city"
        >
          <option value="" disabled selected hidden>Select city</option>
          <option *ngFor="let item of inCity" value="{{ item }}">
            {{ item }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Select City Position</label
        >
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="addcity"
        >
          <option value="" disabled selected hidden>
            Select city position
          </option>
          <option *ngFor="let item of city" value="{{ item.name }}">
            {{ item.name }}
          </option>
        </select>
      </div>
      <p
        *ngIf="CitycandidateForm.controls['name'].errors?.['required'] || CitycandidateForm.controls['city'].errors?.['required'] || CitycandidateForm.controls['addcity'].errors?.['required'] "
      >
        * All fields are required
      </p>
      <div class="form-btn">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="CitycandidateForm.invalid"
          (click)="onAddCandidate()"
        >
          Update
        </button>
        <button
          class="btn btn-primary"
          (click)="showCityCandEdit = !showCityCandEdit"
        >
          Close
        </button>
      </div>
    </form>
  </div>
</div>

<!-- editing country candidate -->

<div class="edit" [hidden]="!showCountryCandEdit">
  <div class="left-pos">
    <div class="text-center">
      <h2 class="addtitle">Add Country Candidate</h2>
    </div>
    <hr />
    <form autocomplete="off" [formGroup]="CountrycandidateForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">NAME</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          placeholder="Enter Name"
          aria-describedby="emailHelp"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">CITY</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="city"
        >
          <option value="" disabled selected hidden>Select city</option>
          <option *ngFor="let item of inCity" value="{{ item }}">
            {{ item }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Select Country Position</label
        >
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="addcountry"
        >
          <option value="" disabled selected hidden>
            Select Country position
          </option>
          <option *ngFor="let item of country" value="{{ item.name }}">
            {{ item.name }}
          </option>
        </select>
      </div>
      <p
        *ngIf="CountrycandidateForm.controls['name'].errors?.['required'] || CountrycandidateForm.controls['city'].errors?.['required'] || CountrycandidateForm.controls['addcountry'].errors?.['required'] "
      >
        * All fields are required
      </p>
      <div class="form-btn">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="CountrycandidateForm.invalid"
          (click)="onAddCandidate()"
        >
          Update
        </button>
        <button
          class="btn btn-primary"
          (click)="showCountryCandEdit = !showCountryCandEdit"
        >
          Close
        </button>
      </div>
    </form>
  </div>
</div>
