.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  height: 60px;
  padding: 0 3%;
  background: #007bb4;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.header h2 {
  font-weight: 800;
  color: #fff;
}
.wrapper {
  display: flex;
  z-index: 100;
}
.addtitle {
  margin: 0;
}
.box {
  z-index: -1;
  width: 200px;
  height: 90.5vh;
  display: flex;
  justify-content: center;
  background: #007bb4;
  align-items: flex-start;
}
.box .left {
  margin-top: 30px;
}
.box button {
  margin: 10px auto;
  background-color: #eee;
  border-radius: 0 10px 10px 0;
  color: #000;
  font-weight: 600;
  width: 90%;
  transition: 0.5s;
}
.box button:hover {
  width: 95%;
  border-radius: 0;
  background: rgb(186, 186, 186);
  color: #111;
}
.toClose {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #222;
  background-color: #333;
  color: #fff;
  font-weight: 600;
}
.right-con {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 2rem;
  max-width: 100%;
  width: 100%;
  height: 91vh;
  background-color: #fffaf4;
}
.containerofpos {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 2rem;
  max-width: 100%;
  width: 100%;
  height: 91vh;
  background-color: #fffaf4;
}
.form-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.card {
  width: 450px;
  padding: 20px;
}
.table {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
table {
  border-collapse: collapse;
}
table thead tr {
  border: 1px solid #eee;
}
thead tr th {
  background-color: #007bb4;
  color: #fff;
  font-weight: 600;
}
thead th {
  background-color: #007bb4;
  color: #fff;
  font-weight: 600;
  border: 1px solid #ccc;
}
tr td,
tr th {
  padding: 15px 10px;
  border: 1px solid #eee;
}
tbody tr {
  background-color: #526d82;
  color: #fff;
}
.userbtn {
  position: absolute;
  top: 5%;
  left: 30px;
}
.model-1,
.model-2,
.model-3,
.model-4,
.model-5 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #ccc;
}
.form-select {
  margin-bottom: 10px;
}
.container .left-pos {
  width: 350px;
  height: 250px;
  border: 2px solid #222;
  padding: 15px;
  border-radius: 5px;
}
.container .left-pos h3 {
  text-align: center;
  margin-bottom: 20px;
}
.container .left-pos input {
  background-color: #222;
  color: #fff;
}
.container .left-pos input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.container .left-pos button {
  background-color: #222;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.container .right-pos {
  width: 350px;
  height: 250px;
  border: 2px solid #222;
  border-radius: 5px;
  padding: 15px;
}
.container .right-pos h3 {
  text-align: center;
  margin-bottom: 20px;
}
.container .right-pos input {
  background-color: #222;
  color: #fff;
}
.container .right-pos input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.container .right-pos button {
  background-color: #222;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.pos-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 10px;
}
.row input {
  background-color: #222;
  color: #fff;
}
.row input::placeholder {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.row select {
  background-color: #222;
  color: #fff;
  font-weight: 600;
}
form p {
  color: #007bb4;
  font-weight: 600;
}
.row select option {
  background-color: #222;
  color: #fff;
  font-weight: 600;
}
.row select:checked option {
  color: #fff;
  font-weight: 600;
  background-color: #222;
}
.row button {
  width: 100%;
  background-color: #222;
  color: #fff;
  font-weight: 600;
}
.row .card {
  border: 2px solid;
}
.wrapper {
  display: flex;
  gap: 10px;
}
/* Making Responsive */
@media (max-width: 930px) {
  .containerofpos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
  }
}
@media (max-width: 1150px) {
  .box {
    z-index: -1;
    width: 150px;
    height: 92vh;
    display: flex;
    justify-content: center;
    background: #007bb4;
    align-items: flex-start;
  }
  .box button {
    margin: 10px auto;
    background-color: #eee;
    color: #000;
    width: 90%;
  }
  .box button:hover {
    width: 90%;
  }
  tr td,
  tr th {
    padding: 10px 20px;
  }
}
@media (max-width: 790px) {
  .wrapper {
    display: block;
  }
  .box {
    width: 100%;
    height: 100px;
  }
  .box .left {
    margin: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: row;
  }
  .box button {
    margin: 5px auto;
    width: 50%;
    border-radius: 0;
  }
  tr td,
  tr th {
    padding: 10px 10px;
  }
}
@media (max-width: 620px) {
  .table {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 560px) {
  .box .left {
    display: flex;
    gap: 5px;
  }
  .box .left button {
    padding: 5px 5px;
  }
}
@media (max-width: 490px) {
  .box {
    height: 300px;
  }
  .box .left {
    display: flex;
    flex-direction: column;
  }
  tr th,
  tr td {
    padding: 5px 5px;
  }
}
@media (max-width: 390px) {
  tr th,
  tr td {
    padding: 2px 1px;
  }
  .table .btn {
    padding: 0;
    margin: 2px;
  }
}

.edit-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #cccccc2e;
}
.edit-city,
.edit-country {
  border: 2px solid #021130;
  padding: 10px;
  margin: 10px;
  width: 400px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #d3ddec;
  text-align: center;
  font-family: cursive;
}
